@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";

#player-frame {
  height     : 248px;
  width      : 500px;
  
  // center it
  position   : absolute;
  top        : 46%;
  left       : 50%;
  margin     : -124px 0 0 -250px;
  border     : 1px solid rgba(155, 152, 152, 0.13);
  background : white;
  @include single-box-shadow(#181E56, 0px, 15px, 20px, -5px);
}

#cover {
  width: 200px;
  height: 200px;
  float: right;
  margin: 24px;
}

#panel, #info {
  width: 220px;
  height: 60px;
  margin-left: 24px;
  
}

#info {
  margin-top: 20px;
  padding: 20px;
//  margin-left: 40px;
}

#panel {
  padding-left: 10px;
  
  audio#aud {
    width: 200px;
    height: 20px;
  }
  a#play {
    position: relative;
    float: left;
  }
  div#load-progress {
    float: left;
    width: 170px;
    height: 2px;
    background-color: #C5AAA8;
    margin-top: 14px;
    margin-left: 2px;
  }
  div#play-progress {
    width: 0px;
    height: 2px;
    background-color: #B61710;
  }
}

#tips {
  display: none;
  margin-left: 20px;
  padding-top: 35px;

  span {
    display: inline-block;
    font-size: 11px;
  }
}