<div id="wrap">
  <div id="main-region" class="container">
  </div>
  <div id="push">
  </div>
</div>
<div id="footer-region">
</div>

<%= javascript_tag do %>
  $(function(){
    Trans.start();
  });
<% end %>